body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1C2541;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mainNavDiv {
  position: fixed;
   top: 0;
   z-index: 100;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 100%;
  background-color: #0B132B;
  box-shadow: 0 2px 4px 0 rgb(4, 4, 7);
}

.navBarUl {
  position: absolute;
  left: 5%;
  top:5%;
  list-style-type: none;
  font-size: medium;
  font-weight: 700;
  color: #0f0f0f;
}

.navBarLink {
  display: inline;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #3A506B;
}

.createList {
  padding-top: 100px;
}

.Task {
  padding-top: 2px;
  padding-bottom: 3px
}

.HomePage {
  padding-top: 100px
}

.Profile {
  padding-top: 90px
}

.Login {
  padding-top: 10%;
  /* border-style: solid; */
  /* border-width: 2px; */

}
.Signup {
  padding-top: 10%;
  /* border-style: solid; */
  /* border-width: 2px; */

}

.SignupForm {
  margin-top: 10%;
  max-width: 200px;
  border-color: #0f0f0f;
  border-width: 3px;
  border-style:solid;
  border-radius: .5em;
  /* position: fixed; */
  margin: auto;
  background-color: #1C2541;
  height: 10em;
  width: 20em;
  /* padding-top:1em */

}

.LoginForm {
  margin-top: 10%;
  max-width: 200px;
  border-color: #0f0f0f;
  border-width: 3px;
  border-style:solid;
  border-radius: 5px;
  /* position: fixed; */
  margin: auto;
  background-color: #1C2541;
  height:6em;
  width: 20em;
  font-size: larger;
  font-weight: 500;
  /* padding-top:1em */
}

.signupFormText {
  color: aliceblue;
 font-size: larger;
 /* background-color: #00000023; */
 padding-top:1px;
}

.loginFormText {
  color: aliceblue;
  font-size: larger;
  /* background-color: #00000023; */
  padding-top:1px;
}

.viewProfileLinks {
  padding:10px
}



.ViewProfile {
  padding-top: 7%
}

.ChecklistPreview {
  border-width: 4px;
  border-style: solid;
  border-color: #22C2B2;
  border-radius: 5px;
  width:10%;
  min-width: 10%;
  background-color: #5BC0BE;
  /* margin: 2px; */
  /* margin:auto; */
  /* margin-left: 5%; */
  padding: 0.1%;
  margin-right: 5%;
  /* margin-right: 5%; */
  /* margin-bottom: 10px; */
  flex-wrap: wrap;
  /* background-color: #282c34; */
  padding: 10px;
  color:#07070a;
  font-size: larger;
  font-weight: 500;
  width: 150px;
  height:80px;
  border-radius: 10px;
  box-shadow: inset 0 0 .5em 0 var (--clr-neon), 0 0 0 .5em 0 var (--clr-neon);
}

.FullChecklistPreview {
  margin: auto;
  margin-top: 7%;
  border-style: solid;
  border-radius: 3%;
  border-color: #197BBD;
  width: 30%;
  background-color: #5BC0BE;
}

.BrowseChecklists {
  padding-top: 7%
}

.listPreviewContainer {
  padding: 0;
  width: 80%;
  margin: auto;
  /* list-style: none; */
  /* border: 2px solid blue; */
  display: flex;
  display: grid;
  /* grid-template-columns: 50px 50px 50px 50px 50px; */
  grid-template-columns: 3.4% 3.4% 3.4% 3.4% 3.4%;
  grid-column-gap: 300px;
  grid-row-gap:50px;
  color: #444;
  margin-left:166px;
  margin-top:50px;
  
}

.EditChecklist {
  padding-top: 7%
}

.yourChecklists {
  /* display: grid; */
  /* grid-template-columns: 3.4% 3.4% 3.4% 3.4% 3.4%; */
  /* grid-column-gap: 300px; */
  width: 23%;
  margin: auto;
  /* border-width: 4px; */
  /* border-style: solid; */
  /* border-color: #22C2B2; */
}

.Checklist {
  background-color: #5BC0BE;
  border-width: 2px;
  border-style: solid;
  border-color: #197BBD;
  border-radius: 10px;
  font-size: large;
  margin-bottom: 5%;
  font-weight: 500;
  /* width:150% ; */
  /* margin- */
}

.taskContainer {
  /* background-color: #2bb2df; */
  width: 80%;
  margin:auto;
  border-width: 2px;
  /* border-style: solid; */
  /* border-color: #197BBD; */
  border-radius: 5%;
}

.subTaskContainer {
  /* background-color: #50b8db; */
  width: 65%;
  margin:auto;
  border-width: 2px;
  /* border-style: solid; */
  /* border-color: #FFFBFC; */
  border-radius: 5%;
}

.options {
  position: absolute;
  right: 47%;
  display: grid;
  border: #0f0f0f;
  border-style: solid;
  background-color: #00000071;
  width:4%;
  border-radius: 10%;
  color:#eaebee;
  text-shadow: #000000 3px 0 3px;
  /* transition: all 0.2s; */
}

.optionsButtons {
  width: 80%;
 /*Title Idea: CheckMate*/
  display:inline-block;
 padding:0.3em 1.2em;
 margin:0 0.1em 0.1em 0;
 border:0.16em solid rgba(255,255,255,0);
 border-radius:0.8em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#292929;
 background-color: #e4dcdc;
 text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
 text-align:center;
 transition: all 0.2s;
 text-align: justify;
 font-size:small;
 /* margin:auto; */
  margin:auto;
  margin-top: 2%;
  margin-bottom: 2%;
  Z-index: 99;
}
.optionsButtons:hover{
 border-color: rgb(80, 80, 80);
}
@media all and (max-width:30em){
 a.button4{
 display:block;
 margin:0.2em auto;
 }

}

.taskPreview {
  width:50%;
  margin:auto;
  background-color: #7dcfce;
  border-style: dotted;
  border-color: #212a31;
  border-width: 2px;
  border-radius: 10px;
}

.subTaskPreview {
  margin:auto;
  width:60%;
  border-radius: 7px;
  margin-bottom: 1px;
  border-style:dotted;
  border-width: 1px;
  background-color: #a1dfde
}

.profileTask {
  margin:auto;
  width:70%;
  border-radius: 7px;
  margin-bottom: 1px;
  border-style:dotted;
  border-width: 1px;
  background-color: #7dcfce
}

.profileSubTask {
  font-size: large;
  margin:auto;
  width:75%;
  border-radius: 7px;
  margin-bottom: 1px;
  border-style:dotted;
  border-width: 1px;
  background-color: #a1dfde;
  margin-right: 100%;
}

.initOptions {
  display:inline-block;
 padding:0.1em .4em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 margin-left:10px;
margin-top: 5px;
 position: absolute;

 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#000000;
 text-align:center;
 transition: all 0.2s;
}


.initOptionsSubTask {
  display:inline-block;
 padding:0.1em .4em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 margin-left:10px;
margin-top: 5px;
 position: relative;

 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#000000;
 text-align:center;
 transition: all 0.2s;
}

.titleText {
  color:aliceblue;
}

.signupPage {
  background: linear-gradient(-45deg, #23a6d5, #1C2541, #23a6d5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.userBrowser{
  /* margin-top:7%; */
  /* border-style: solid;
  border-width: 3px;
  border-color:aliceblue; */
  display: grid;
  /* grid-template-columns: 50px 50px 50px 50px 50px; */
  grid-template-columns: 3.4% 3.4% 3.4% 3.4% 3.4%;
  grid-column-gap: 300px;
  grid-row-gap:50px;
  color: #444;
  margin-left:166px;
  /* width:10px;; */
  /* margin-top:50px; */
}

.ListofUsers {
  /* padding-top: 7%; */
  /* margin: 10px; */
  /* padding: 20px; */
  /* display: block;
  text-align: center;
  float: left; */
  /* border: 1px solid #4b00b8; */
}

.userBrowserSearch {
  margin-top: 7%;
  margin-bottom: 1%;
  border-style: solid;
  border-width: 4px;
  border-radius: 7px;
  border-color: #000000;
  background-color: aliceblue;
  width: 12%;
  height: 2em;
  font-size: large;
}

.checklistBrowserSearch {
  border-style: solid;
  border-width: 4px;
  border-radius: 7px;
  border-color: #000000;
  background-color: aliceblue;
  width: 12%;
  height: 2em;
  font-size: large;
}

a.viewProfileLinks {
  font-style: normal;
  font-weight: 500;
  font-size: larger;
  color:#0f101f;
  border-style: solid;
  border-color: #197BBD;
  margin-right: 1.8em;
  background-color: #5BC0BE;
}

.noFollowing {
  color:rgb(47, 153, 224)
}

.editInput {
  width:90%;
}